.input {
 border-width : 1px;
 border-color : rgb(171, 171, 197); 
 border-radius : 15px;
 width : 300px;
 height : 40px;
 font-family : "Poppins"; 
 font-size: 20px;
 padding-left: 10px;
}

.textInput {
  display : flex;
  flex-direction : column;
  justify-content : flex-start;

}

.mainBody {
background: #fffff;
}

.main {
  font-family : "Poppins";    
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  align-items : start;
}

.card {
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  	display : flex;
    flex-direction : column;
	justify-content : space-between;
 	align-items : center;
	gap : 30px;
	background-color: #ecebfe;
	border-radius : 15px;
 }

.info {
color: rgb(173, 89, 208);
font-size: 18px;
}

.button {
  background-color : rgb(92, 46, 201);
  width : 150px;
  height:40px;
  border-radius : 8px;
  padding-top : 10px;
  padding-bottom : 10px;
  border-color : transparent;
  color : #ffffff;
  font-size: 16px;
  font-weight : 600;
}
 
.error {
 color : red;
 }